<div id="savedHeader">
<h2>ACTS YOU SAVED</h2>
<p><a class="btn btn-lg scrapeBtn" href="/scrape" role="button">RETURN AND SCRAPE</a></p>
</div>

{{#each articles}}
  {{#if this.savedArticle}}
  <div class="row">
    <div class="col-sm-12 articleBox">
      <h2 class="articleTitle">{{this.title}}</h2>
      <h3><a class="articleLink" href={{this.link}}>{{this.link}}</a></h2>
      <button id="{{this._id}}" class="btn addNote" type="submit">Add note</button>
      <h3>Notes</h3>
      <div id="notes">
        {{#each note}}
        <h4 class="noteTitle">{{this.title}}</h4>
        <h4 class="noteBody">{{this.body}}</h4>
        <button id="{{this._id}}" class="btn deleteNote" type="submit">Delete note</button>
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}
{{/each}}





